<h2 class="destination_32">Destinos</h1>
<br/>

<div class="box">
	<div class="search_results">
	  <% if @roadmap.destinations and @roadmap.destinations.length > 0 %>
			<%= render :partial => "destinations/list" %>
		<% else %>
		  <center>
		    <em>Nenhum destino encontrado.<em>
		  </center>
		<% end %>
	</div>
	<% if logged_in? and owner?(@roadmap) %>
	  <center>
			<%= link_to 'Novo destino', new_roadmap_destination_path(@roadmap), :class => "botao_new_destination" %>
		</center>
  <% end %>
	<br/>
</div>
