<table>
<% if @roadmaps and @roadmaps.length > 0 %>
	<% @roadmaps.each do |roadmap| %>
		<tr>
			<td>
				<%= link_to roadmap.title, roadmap %>
			</td>
		</tr>
	<% end %>
<% else %>
	<tr>
		<td>
			<i>Nenhum encontrado.</i>
		</td>
	</tr>
<% end %>
</table>
