<div id="ja_planejados" style="float: right;">
	<div class="box_white" style="width: 330px">
		<div class="search_results">
			<h4>Destinos jรก planejados:</h4>
			<%= render :partial => "simple_list" %>
		</div>
	</div>
</div>
