<%= focus("state_id")%>

<h1 class="destination">Destino</h1>

<%= render :partial => 'form'%>
<br/>
<%= link_to 'Detalhar', roadmap_destination_path(@destination.roadmap, @destination) %> |
<%= link_to 'Voltar', @destination.roadmap %>
