<%= corner('intro') %>

<div style="float: right;">
  <%= render :partial => "most_viewed" %>
  <%= render :partial => "last_added" %>
</div>

<% if not logged_in? %>
  <div>
  
    <div id="intro" class="box_white_main" style="width: 635px;">
			<p style="text-align: justify;">
			  O “Viajar a bessa” tem como objetivo ser um site colaborativo no qual as pessoas irão relatar suas experiências em viagens, criar roteiros de viagem, dar sugestões de pontos turísticos e eventos nas cidades, podendo eles ser avaliados ou não, além de ter dicas de estabelecimentos como gastos e sugestões.
			</p>
			<p style="text-align: justify;">
				O projeto visa explorar o poder das redes sociais colaborativas em conjunto com as possibilidades de turismo e planejamento de viagens.
			</p>			
    </div>
    
    <br/>
    
    <center>
      <%= link_to "Cadastre-se aqui!", signup_path, :class => "signup" %>
    </center>
  </div>
  <br/><br/>
<% end %>

<h2 class="evaluation_32">Recomendações</h2>
