<div style="float: right;">
  <%= render :partial => "most_viewed" %>
  <%= render :partial => "last_added" %>
</div>

<% if not logged_in? %>
  <div>
    <h1 class="viajantes">Viajantes</h1>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
      Pellentesque vel ante leo, eu laoreet urna. 
      Nulla nec orci orci, ac gravida massa. 
      Sed rutrum sodales consequat. 
      Proin malesuada, arcu vitae aliquet cursus, libero justo interdum sapien, 
      vitae hendrerit tortor nisi non magna. Duis eu egestas dui. 
      Integer tristique hendrerit mauris. 
    </p>
    
    <center>
      <%= link_to "Cadastre-se aqui!", signup_path, :class => "signup" %>
    </center>
  </div>
  <br/><br/>
<% end %>

<h2 class="evaluation_32">Recomendações</h2>
