<div style="float: right;">
	<h4 class="mais_vistos">Mais vistos</h4>

	<div class="mais_vistos_corpo">
		<div id="shops">
			<br/>
			<span class="shop_32">Estabelecimentos</span>
			<br/><br/>
			<div class="box">
				<div class="search_results_root">
					<ul>
						<%= render :partial => "shops/list_root" %>
					</ul>
				</div>
			</div>
		</div>

		<br/>

		<div id="tourist_sights">
			<br/>
			<span class="tourist_sight_32">Pontos Turísticos</span>
			<br/><br/>
			<div class="box">
				<div class="search_results_root">
					<ul>
						<%= render :partial => "tourist_sights/list_root" %>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>
