<%= f.error_messages %>

<table class="form" width="60%">
	<tr>
		<td>Nome:</td>
	</tr>
	<tr>
		<td><%= f.text_field :name %></td>
	</tr>
	<tr>
		<td>Descrição:</td>
	</tr>
	<tr>
		<td>
			<%= f.text_area :description, {
					:rows => 5,
					:class => "expanding", 
					:style => "width: 100%;"
			} %>
		</td>
	</tr>
	<tr>
		<td colspan="2" align="right"><%= f.submit 'Salvar' %></td>
	</tr>
</table>
