<h1 class="tips">Dicas</h1>

<% if logged_in? %>
	<%= link_to 'Criar uma nova', new_tourist_sight_tip_path(@tourist_sight) %>
	<br /><br />
<% end %>

Para: <%= link_to "#{@tourist_sight.name}", tourist_sight_path(@tourist_sight) %>
<br /><br />

<%= render :partial => "tips/list" %>
<%= will_paginate @tips %>
