<div id="events" class="search_results">
	<ul>
		<%= render :partial => "events/list" %>
		<li class="sem_li">
			<%= will_paginate @events, :param_name => :page_event,
									   :params => { :selected => '3' } %>
		</li>
	</ul>
</div>
