<%= configure_tabs(@selected) %>

<h1 class="search_icon">Resultado da pesquisa</h1>

<% if @results %>

	<div id="tabs">
		<ul>
			<% if @tourist_sights and @tourist_sights.length > 0%>
			<li><a href="#tourist_sights">Pontos Turísticos</a></li>
			<% end %>
			<% if @shops and @shops.length > 0%>
			<li><a href="#shops">Estabelecimentos</a></li>
			<% end %>
		</ul>

		<!-- tourist_sight -->
		<% if @tourist_sights and @tourist_sights.length > 0 %>
    <%= render :partial => "tourist_sights" %>
		<% end %>

		<!-- shop -->
		<% if @shops and @shops.length > 0%>
    <%= render :partial => "shops" %>
		<% end %>

	</div>

<% else %>

	<i>Nenhum resultado encontrado.</i>	

<% end %>

