<%= configure_textarea_autogrow %>
<%= focus("tip_name")%>

<h1 class="tips">Nova Dica de Evento</h1>

<% form_for([@event, @event_tip.tip], 
						:url => {:controller => :event_tips, :action => :create}) do |f| %>

	<%= render :partial => 'tips/form', :locals => {:f => f} %>
<% end %>

<%= link_to 'Voltar', event_path(@event.id) %>
