<table width="100%" class="tabela_info" cellspacing="5">
	<tr>
		<td colspan="2" style="font-size: 16px;">
			<strong><%= @shop.name %></strong>
		</td>
	</tr>
	<tr>
		<td>
			<strong>Localizado em:</strong>
		</td>
	</tr>
	<tr>		
		<td>
			<%= render :partial => "tourist_sights/location" %>
		</td>
	</tr>
	
	<% if @shop.key_words and @shop.key_words.length > 0 %>
	<tr>
		<td>
			<strong>Palavras-chave:</strong>
		</td>
	</tr>
	<tr>
		<td><%=h @shop.key_words %></td>
	</tr>
	<% end %>
	
	<tr>
	</tr>
	
</table>
