<% if logged_in? %>

	<div class="usernav">
		<span>
		  <%= current_user.login %>&nbsp;::
		  <%= link_to "opções", edit_user_path(current_user) %>&nbsp;::
		</span>
		<%= link_to "sair", logout_path  %>
		<span class="cap"></span>
	</div>

<% end %>


