<div class="top">
	<div class="header">
		<div class="left">
                        <%= render :partial => "sessions/user_info" %>
			<div style="margin: auto 140px;">Viajantes</div>
		</div>
	</div>
</div>
