<div class="top">
	<div class="header">
		<div class="left">
      <%= render :partial => "sessions/user_info" %>
			<div style="float: left; padding: 5px;">
				<%= link_to (image_tag 'global_compass_100.png', :border => 0), "/" %>
			</div>
			<div align="left">
				Viajantes
			</div>
		</div>
	</div>
</div>
