<div class="top">
	<div class="header">
		<div class="left">
			<%= link_to "Cadastre-se aqui!", signup_path, :class => "signup" %>
			<div style="margin: auto;">Viajantes</div>
		</div>
	</div>
</div>
