<div class="navigation">
	<a href="index.html">Home</a>
	<%= link_to "Pontos Turísticos", tourist_sights_path %>
	<%= link_to "Estabelecimentos", shops_path %>
	<a href="index.html">link</a>
	<a href="index.html">link</a>
	<a href="index.html">link</a>
	<div class="clearer"><span></span></div>
</div>
