<div style="float: right;" class="search">
		<%= text_field_tag 'search', 'pesquise aqui', 
		{
			:size => 15, :style => "color: rgb(136, 136, 136); font-size: 11px;",
			:id => "search_field", 
			:onclick => keep_value('pesquise aqui', 'search_field'),
			:onblur => keep_value('pesquise aqui', 'search_field')
		}
		%>
</div>
