<table>
<% if tourist_sights and tourist_sights.length > 0 %>
	<% tourist_sights.each do |tourist_sight| %>
		<tr>
				<td>
					<%= link_to tourist_sight.name, tourist_sight %>&nbsp;
					(<%=h tourist_sight.city.state.symbol %>/<%=h tourist_sight.city.name %>)
				</td>
		</tr>
	<% end %>
<% else %>
	<tr>
		<td>
			<i>Nenhum encontrado.</i>
		</td>
	</tr>
<% end %>
</table>
