<%= render :partial => "tips/list" %>

<% if @tourist_sight.tourist_sight_tips and @tourist_sight.tourist_sight_tips.length == 10 %>
	<table class="tabela">
		<tr>
			<td colspan="2" class="linha_direita">
				<%= link_to 'Ver todas', tourist_sight_tips_path(@tourist_sight) %>
			</td>
		</tr>
	</table>
<% end %>

<% if logged_in? %>
	<br /><br />
	<%= link_to 'Nova dica', new_tourist_sight_tourist_sight_tip_path(@tourist_sight), :class => "botao_new_tip" %>
	<br /><br />
<% end %>








