<h1>Editing tourist_sight</h1>

<% form_for(@tourist_sight) do |f| %>
  <%= f.error_messages %>

  <%= render :partial => 'form' , :locals => {:f => f} %>
<% end %>

<%= link_to 'Show', @tourist_sight %> |
<%= link_to 'Back', tourist_sights_path %>
