/* standard elements */
html {min-height: 100%;}

* {
	margin: 0;
	padding: 0;
}

a {color: #666666;}
a:hover {color: #4682B4;}
body {
	/*
	background: #CCD8E0 url(../images/img/bg-novo.jpg) repeat-x left bottom;
	*/
	background: #F1E0AC url(../images/img/praia.jpg) repeat-x scroll;
	color: #444;
	font: normal 62.5% Tahoma,sans-serif;
	text-align: center;
}

p,code,ul {padding-bottom: 1.2em;}

li {list-style: none;}

h1 {
	font: normal 1.8em Tahoma,sans-serif;
	margin-bottom: 4px;
}

code {

	border: 1px solid #EEE;
	border-left: 6px solid #C1CAD3;
	color: #666;
	display: block;
	font: normal 1em Tahoma,sans-serif;
	line-height: 1.6em;
	margin-bottom: 12px;
	padding: 8px 10px;
	white-space: pre;
}

blockquote {
	background: url(../images/img/quote.gif) no-repeat;
	display: block;
	font-weight: bold;
	padding-left: 28px;
}

h1,h2,h3 {padding-top: 6px;}

/* misc */
.clearer {clear: both;}

.left {float: left;}

/* structure */
.container {
	background: #FFF;
	font-size: 1.2em;
	margin: 0 auto;
	padding: 0 10px 10px;
	width: 920px;
}

/* header */
.top {
	/*
	background: url(../images/img/clouds.gif) repeat-x;
	*/
	padding: 50px 10px 0;
}

/* title */
.header {
	background: #FFF;
	font-size: 1.2em;
	height: 150px;
	margin: 0 auto;
	padding: 10px 10px 5px;
	width: 920px;
}
.header .left, .header .right {
	background: #A4A4A0;
	color: #FFF;
	height: 150px;	
}
.header .left {
	background: #B3C2C7 url(../images/img/header2.jpg) repeat-x;
	font: normal 2.8em "Trebuchet MS",sans-serif;
	line-height: 150px;
	text-align: center;	
	width: 920px;
}

/* navigation */
.navigation {	
	background: #D9E1E5 url(../images/img/nav.gif);
	border: 1px solid #DFEEF7;
	border-color: #DFEEF7 #CFDEE7;
	height: 41px;
}
.navigation a {
	background: #D9E1E5 url(../images/img/nav.gif);
	border-right: 1px solid #AFBEC7;
	color: #456;
	display: block;
	float: left;
	font: bold 1.1em sans-serif;
	line-height: 41px;
	padding: 0 20px;
	text-decoration: none;
}
.navigation a:hover {background-position: left bottom; color: #234;}

/* main url(../images/img/bgmain.gif) repeat-y*/
.main {
	border-top: 4px solid #FFF;
	border-bottom: 4px solid #FFF;
	background: #E8E8E8;
	margin: auto;
	text-align: left;
}

/* content */
.content {
	float: left;
	margin: 10px 0;
	padding: 0 16px;
	width: 890px;
}
.content .descr {
	color: #664;
	font-size: 0.9em;
	margin-bottom: 6px;
}

.content p {font-family: "Lucida Sans Unicode",sans-serif;}

/* footer */
.footer {
	background: url(../images/img/bgfooter.gif) repeat-x;
	color: #FFF;
	font: bold 1em sans-serif;
	line-height: 39px;
	text-align: center;
}
.footer a,.footer a:hover {color: #FFF;}

.tabela {
	margin: 0px 0 0 0;
	width: 100%;
}

.tabela th, .tabela td {
	text-align: center;
}


.tabela_info {
	border: 1px solid #C1CDCD;
	margin: 0px 0 0 0;
}

.odd{
	background-color: #CCD8E0;
	padding: 5px 5px 5px 5px;
}

.odd td{
	padding: 5px 5px 5px 5px;
}

.even{
	background-color: white;
}

.even td{
	padding: 5px 5px 5px 5px;
}

.tabela tr.odd:hover {
	background-color: #A8B0FF !important;
}

.tabela tr.even:hover {
	background-color: #A8B0FF !important;
}

.tabela th {
	background: #C1CDCD;
	padding: 5px 5px 5px 5px;
}

.tabela_destaque {
	background: #C1CDCD;
}

input, textarea, select {
	border: 1px solid #BBBBBB;
	padding: 2px 1px;
}

input:focus, textarea:focus, select:focus{
	border-color: black;
}

.tag {
	background: url(../images/tag_48.png) no-repeat;
	padding: 15px 45px;
}

.success {
	color: #264409;
	border: 2px solid #DDDDDD;
	border-color: #C6D880;
	background: url(../images/ok_24.png) #E6EFC2 no-repeat scroll 0 0;
	margin-bottom: 0.5em;
	padding: 5px 0px 4px 35px;
}

.barra{
	background-color:#ABBECA;
	border: 1px solid #C1CDCD;
	padding: 5px;
	padding-left: 35px;
	color: white;
	font-weight: bold;
	cursor: pointer;
	cursor: hand;
}

.icone_barra_dica {
	position: relative; 
	left:-5px; 
	top:22px;
}

textarea.expanding {
	line-height: 18px;
}

.botao_new_tip {
	color:#FFFFFF;
	margin: 0px 0px 0px 0px;
	padding: 3px 5px 3px 22px;
	background: #9FB6CD url(../images/new_tip.png) no-repeat 2px 1px;
	border: 1px solid #C1CDCD;
	font-size:12px;
	height: 20px;
	cursor: pointer;
}

.botao_new_tip:hover {
	color:#FFFFFF;
	background: #6C7B8B url(../images/new_tip.png) no-repeat 2px 1px;
}





