<% programs.each do |program| %>
	<li class="sem_li_program">
		<h4>
			<%= date_format(program.date) %>&nbsp;
			<%= currency(program.value) %>&nbsp;
		</h4>
		<div style="text-align: justify; margin: 2px 15px;">
			<small><%=h program.description %></small>
		</div>
	</li>
<% end %>
