<h1 class="program">Programas</h1>

<% if logged_in? %>
	<%= link_to 'Criar um novo', new_program_path %>
	<br />
<% end %>

<br />

<% if @programs and @programs.length > 0 %>
	
	<div class="box">
		<div class="search_results">
			<ul>
				<%= render :partial => "list" %>
				<%= will_paginate @programs %>
			</ul>
		</div>
		<br/>
	</div>

<% else %>
	<i>Nenhum programa encontrado.</i>
	<br />
<% end %>
