<%= focus("program_date")%>

<h1">Evento</h1>

<%= configure_textarea_autogrow %>


<% form_for([@event]) do |f| %>
	<%= render :partial => "form", :locals => {:f => f} %>
<% end %>

<%= link_to 'Voltar', @event %>
