<h1 class="event">Eventos</h1>

<% if logged_in? %>
	<%= link_to 'Criar um novo', new_event_path %>
	<br/>
<% end %>

<br />
<% if @events and @events.length > 0 %>
	
	<div class="box">
		<div class="search_results">
			<ul>
				<%= render :partial => "list" %>
				<%= will_paginate @events %>
			</ul>
		</div>
		<br/>
	</div>

<% else %>
	<i>Nenhum estabelecimento encontrado.</i>
	<br />
<% end %>
