<table>
<% if @shops and @shops.length > 0 %>
	<% @shops.each do |shop| %>
		<tr>
			<td>
				<%= link_to shop.name, shop %>&nbsp;
				(<%=h shop.city.state.symbol %>/<%=h shop.city.name %>)
			</td>
		</tr>
	<% end %>
<% else %>
	<tr>
		<td>
			<i>Nenhum encontrado.</i>
		</td>
	</tr>
<% end %>
</table>
