<h1 class="shop">Estabelecimentos</h1>

<% if logged_in? %>
	<%= link_to 'Criar um novo', new_shop_path %>
	<br/>
<% end %>

<br />
<% if @shops and @shops.length > 0 %>
	
	<div class="box">
		<div class="search_results">
			<ul>
				<%= render :partial => "list" %>
				<%= will_paginate @shops %>
			</ul>
		</div>
		<br/>
	</div>

<% else %>
	<i>Nenhum estabelecimento encontrado.</i>
	<br />
<% end %>
