<%= configure_textarea_autogrow %>
<%= focus("tip_name")%>

<h1 class="tips">Nova Dica de Estabelecimento</h1>

<% form_for([@shop, @shop_tip.tip], 
						:url => {:controller => :shop_tips, :action => :create}) do |f| %>

	<%= render :partial => 'tips/form', :locals => {:f => f} %>
<% end %>

<%= link_to 'Voltar', shop_path(@shop.id) %>
